/TextFilesCompressor/nbproject/private/
/TextFilesCompressor/build/
/TextFilesCompressor/dist/
/TextFilesCompressorServer/
/TextFilesCompressorClient/nbproject/private/
TextFilesCompressor/
/TextFilesCompressorClient/build/
